.header_tab_1{
    display: flex; 
    align-items: center; 
}
.header_logo{
    width : 210px;
    height : 120px;
    margin-bottom: 8px;
 
}
.header_search {
    position: relative;
    width: 500px; 
    height: 30px; 
    border-radius: 100px; 
    border: 2px solid #FFE4B5; 
    background-color: transparent; 
    margin-left: 20px;
  
}
.search_icon {
    position: absolute; 
    right: 4px; 
    top: 50%; 
    transform: translateY(-40%); 
    font-size: 18px;   
}
.header_slogan {
    margin-left: 300px; 
}

.header_slogan p {
    margin: 0;
    font-size: 26px;
    letter-spacing: 4px;
}
